@charset "UTF-8";

// Colors
$gray: #F6F7F8;
$white: #FFFFFF;
$black: #000000;
$gray-2: #EFF1F9;
$gray-3: #F1F2F4;
$gray-4: #F6F6F7;
$black-2: #2B2B2B;
$third-blue: #253779;
$first-blue: #2C96AF;
$second-blue: #4DC6E2;
$fourth-blue: #6E86DF;
$degraded-blue: rgb(85,223,255) linear-gradient(55deg, rgba(85,223,255,1) 0%, rgba(3,45,200,1) 70%);
$degraded-blue-2: rgb(2,225,205) linear-gradient(0deg, rgba(2,225,205,1) 0%, rgba(44,150,175,1) 100%);