@charset "UTF-8";

// Colors
$gray: #F6F7F8;
$white: #FFFFFF;
$black: #000000;
$gray-2: #EFF1F9;
$gray-3: #F1F2F4;
$gray-4: #F6F6F7;
$black-2: #2B2B2B;
$third-blue: #5E2129;
$first-blue: #ff7800;
$second-blue: #ff7800;
$fourth-blue: #6E86DF;
$degraded-blue: rgb(85,223,255) linear-gradient(55deg, #ff7800 0%, #5E2129 70%);
$degraded-blue-2: rgb(2,225,205) linear-gradient(0deg, #ff7800 0%, #ff7800 100%);